<footer>
<div>
<a href="https://twitter.com/AppSecCali?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @AppSecCali</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div>
<a href="https://www.linkedin.com/company/appsec-california/" target="_blank"><img width=32 title="LinkedIn" src="/assets/images/linkedin.svg"/></a> 
<a href="https://www.facebook.com/appseccalifornia/" target="_blank"><img width=32  title="Facebook" src="/assets/images/facebook.svg"/></a> 
<a href="https://www.youtube.com/c/AppSecCalifornia" target="_blank"><img width=32 title="YouTube" src="/assets/images/youtube.svg"/></a> 
</div>
</div>

	<div>&copy; OWASP Foundation 2019</div>

</footer>
</body>
</html>
