---
---
@import "reset";
@import "vars";
@import "header";
@import "section";
@import "teamlist";
@import "footer";



html, body {
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', serif;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $blue;
}
a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5 {
	font-family: 'Titillium Web', sans-serif;
}
h1,h2 {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 2.25em;
	margin-bottom: 0.25em;
	&.pagetitle {
		margin: 1.5em 0em 0.5em 0em;
		font-size: 2.5em;
	}
}
h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
}
b,strong{
font-weight: bold;
}

.button {
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
  color: #fff;
  background-color: #00A6FF;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 100;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.button:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.column {
  float: left;
  padding: 5px;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
